<ion-content [fullscreen]="true">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Músicas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-chip color="medium">
  TODOS
</ion-chip>

<ion-chip color="primary">
  FORRO
</ion-chip>

<ion-chip color="danger">
  FUNK
</ion-chip>

<ion-chip color="warning">
  SERTANEJO
</ion-chip>



<ion-card>
<ion-item>
  <ion-icon slot="start" name="search-outline"></ion-icon>
  <ion-label>Buscar </ion-label>
  <ion-input></ion-input>
  </ion-item>
</ion-card>

<ion-list>
  <ion-item-group>

  <ion-card>
  <ion-card-subtitle>Escolhidas com base no que você ouviu</ion-card-subtitle>
  <ion-card-title>Escolhas Rápidas</ion-card-title>
  <ion-item>
    <ion-card>
    <ion-card-title>Eu Já Tava Bem</ion-card-title>
    <ion-card-subtitle>Wesley Safadão</ion-card-subtitle>
  </ion-card>
    <ion-thumbnail slot="start">
    <img src="assets\wesley.jpg">
    </ion-thumbnail>
  </ion-item>

  <ion-item>
    <ion-card>
    <ion-card-title>Zoio De Lua</ion-card-title>
    <ion-card-subtitle>Charlie Browm Jr.</ion-card-subtitle>
  </ion-card>
    <ion-thumbnail slot="start">
    <img src="assets\charlie.jpg">
    </ion-thumbnail>
  </ion-item>

  <ion-item>
    <ion-card>
    <ion-card-title>Suplica cearense</ion-card-title>
    <ion-card-subtitle>O rappa</ion-card-subtitle>
  </ion-card>
    <ion-thumbnail slot="start">
    <img src="assets\rappa.jpg">
    </ion-thumbnail>
  </ion-item>
  </ion-card>

  </ion-item-group>
</ion-list>

<ion-list>
  <ion-item-group>

  <ion-card>
  <ion-card-subtitle>Músicas mais tocadas no Brasil</ion-card-subtitle>
  <ion-card-title>Top Músicas</ion-card-title>
  <ion-item>
    <ion-card>
    <ion-card-title>Malvada</ion-card-title>
    <ion-card-subtitle>Zé Felipe</ion-card-subtitle>
  </ion-card>
    <ion-thumbnail slot="start">
    <img src="assets\malvada.jpg">
    </ion-thumbnail>
  </ion-item>
  <ion-item>
    <ion-card>
    <ion-card-title>Cê Tá Preparada?</ion-card-title>
    <ion-card-subtitle>Tayrone(feat. Marília Mendonça)</ion-card-subtitle>
  </ion-card>
    <ion-thumbnail slot="start">
    <img src="assets\tayrone.jpg">
    </ion-thumbnail>
  </ion-item>
  <ion-item>
    <ion-card>
    <ion-card-title>Bloqueado</ion-card-title>
    <ion-card-subtitle>Gustavo Lima</ion-card-subtitle>
  </ion-card>
    <ion-thumbnail slot="start">
    <img src="assets\gustavo.jpg">
    </ion-thumbnail>
  </ion-item>
  </ion-card>
  </ion-item-group>
</ion-list>




</ion-content>



<!--<app-explore-container ></app-explore-container>-->




